@import (reference) "../../../../css/variables.less";

.section {
  margin-bottom: 2rem;
}

.form-actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .loader,
  span {
    margin-top: 0.5rem;
  }
}

.loader {
  &.inline {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0.5rem;
  }
}

.error {
  color: @red;
  font-weight: bold;
}

.hidden-input {
  display: none;
}

.form-group.required label::after {
  content: '*';
  margin-left: 0.25rem;
}

.tab-content {
  legend {
    font-size: 1.625rem;
    color: @gray-dark;
    border-bottom: 0.0625rem solid @gray-light;
    margin-bottom: 1.5rem;
  }

  .row {
    padding: 0.75rem 0;
    border-bottom: 0.0625rem solid @gray-light;
    img {
      height: 3.75rem;
      display: inline-block;
      object-fit: contain;
    }
    ::ng-deep span svg {
      width: 3.75rem;
      height: 3.75rem;
      display: block;
    }
  }
}