<div class="backup-configuration-container">

  <p>{{ 'settings.backuprestore.description' | translate }}</p>

  <div class="tab-content">
    <legend>{{ 'settings.backup.title' | translate }}</legend>
    <p>{{ 'settings.backup.description' | translate }}</p>
    <a
      class="btn btn-primary"
      [attr.download]="backup.name"
      [href]="backup.url"
    >
      <i class="fa fa-arrow-down"></i>
      <span>{{ 'settings.backup.action' | translate }}</span>
    </a>
  </div>

  <div class="tab-content">
    <form>
      <legend>{{ 'settings.restore.title' | translate }}</legend>
      <p>{{ 'settings.restore.description' | translate }}</p>
      <div class="form-actions">
        <a
          class="btn btn-primary"
          [class.disabled]="status.uploading"
          (click)="onChooseClick($event)"
        >
          <i class="fa fa-arrow-up"></i>
          <span>{{ 'settings.restore.action' | translate }}</span>
        </a>
        @if (status.error) {
          <div class="error">{{ 'Upload failed' | translate }}</div>
        }
        @if (status.uploading) {
          <div class="loader small inline"></div>
        }
        <div class="hide">
          <input #fileInput type="file" accept="application/json" />
        </div>
      </div>
    </form>
  </div>

</div>
