<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <ul class="nav nav-tabs custom-tabs">
    <li class="nav-button" routerLinkActive="active">
      <a role="button" routerLink="/display/date-time" >Date & time</a>
    </li>
    <li class="nav-button" routerLinkActive="active">
      <a role="button" routerLink="/display/languages">Languages</a>
    </li>
    <li class="nav-button" routerLinkActive="active">
      <a role="button" routerLink="/display/translations">Translations</a>
    </li>
    <li class="nav-button" routerLinkActive="active">
      <a role="button" routerLink="/display/privacy-policies">Privacy policies</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</body>
</html>