@import 'variables';

.navigation {
  display: block !important;
  position: static !important;
  flex-shrink: 1;
  width: auto;
  max-width: 13.75rem;
  min-width: 4rem;

  li a {
    white-space: normal;
    word-break: break-word;
  }
}
