@import (reference) "../../../../css/variables.less";

.selection-heading {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 0;
  border-bottom: 0.0625rem solid @nav-active-border;
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
  padding: 0;

  li.row {
    padding: 0.5rem 0;
    border-bottom: 0.0625rem solid @nav-active-border;
  }
}