@import 'variables';

.hamburger-btn {
  display: none;
  background: none;
  border: none;
  padding: 0.625rem;
  cursor: pointer;

  .icon-bar {
    display: block;
    width: 1.375rem;
    height: 0.125rem;
    background-color: @header-text-color;
    margin: 0.25rem 0;
    border-radius: 0.0625rem;
  }
}

@media (max-width: @media-mobile) {
  .hamburger-btn {
    display: block;
    float: right;
    margin-top: 0.5rem;
  }

  .navbar-nav.navbar-right {
    display: none;
    float: none !important;
    margin: 0;

    &.open {
      display: block;
    }

    li {
      float: none;

      a {
        padding: 0.625rem 1rem;
        display: block;
      }
    }
  }
}
