@import (reference) "../../../../css/variables.less";

.custom-form{
  margin-bottom: 0.9375rem;
  max-width: 31.25rem; 
}

.date-label{
  font-family: @font-family-main;
  margin-top: 2rem;
  margin-bottom: 0.3125rem;
  font-weight: bold;
  font-size: 1rem;
}
.second-label{
  margin-top: 1.25rem;
}
.help-block{
  margin-top: 0.3125rem;
  margin-bottom: 0.625rem;
  color: @gray-medium;
}

#date-format {
  width: 13rem;
}

#datetime-format {
  width: 25rem;
}

.button-submit{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  background-color: @blue-dark;
  color: white;
  padding: 0.5rem 1.25rem;

  &:hover {
    background-color: darken(@blue-dark, 10%);
    color: white;
  }
}

.dropdown-date {
  width: 13rem;
}

.dropdown-datetime {
  width: 25rem;
}
