<form class="custom-form">
  <div class="form-group">
    <label class="date-label" translate>Date display format</label>
    <div class="dropdown dropdown-date">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        {{ dateFormatSelection }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        @for (date of standardDateFormats; track $index) {
          <li>
            <a (click)="onDateFormatSelected(date)">{{ date }}</a>
          </li>
        }
      </ul>
    </div>
    <div class="help-block"></div>
    <p class="help-block">
      <a href="http://momentjs.com/docs/#/displaying/format/" target="_blank" translate>Moment.js format</a>
      . <span translate>Eg:</span> {{ dateFormatExample }}
    </p>

    <label class="date-label second-label" translate>Datetime display format</label>
    <div class="dropdown dropdown-datetime">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        {{ dateTimeFormatSelection }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        @for (date of standardDatetimeFormats; track $index) {
          <li>
            <a (click)="onDateTimeFormatSelected(date)">{{ date }}</a>
          </li>
        }
      </ul>
    </div>
    <div class="help-block"></div>
    <p class="help-block">
      <a href="http://momentjs.com/docs/#/displaying/format/" target="_blank" translate>Moment.js format</a>
      . <span translate>Eg:</span> {{ dateTimeFormatExample }}
    </p>

    <div class="form-actions">
      <button type="submit" class="btn btn-default button-submit"
        (click)="setSettingsDate()"
        [disabled]="responseStatus.loading"
        translate>Submit</button>

      @if (responseStatus.loading) {
        <div class="loader inline"></div>
      }
      @if (responseStatus.error) {
        <span class="error">{{ responseStatus.msg }}</span>
      }
      @if (responseStatus.success) {
        <span class="success">{{ responseStatus.msg }}</span>
      }
    </div>
  </div>
</form>
