<form class="custom-form">
  <div class="form-group">
    <label id="date-format-label" class="date-label">{{ 'Date display format' | translate }}</label>
    <select
      id="date-format"
      name="date-format"
      class="form-control"
      aria-labelledby="date-format-label"
      [(ngModel)]="dateFormatSelection"
      (ngModelChange)="onDateFormatSelected()">
      @for (date of standardDateFormats; track $index) {
        <option [value]="date">{{ date }}</option>
      }
    </select>
    <div class="help-block"></div>
    <p class="help-block">
      <a href="http://momentjs.com/docs/#/displaying/format/" target="_blank" rel="noopener">{{ 'configuration.date.format.help' | translate }}</a>
      . <span>{{ 'For example' | translate }}</span> {{ dateFormatExample }}
    </p>

    <label id="datetime-format-label" class="date-label second-label">{{ 'Datetime display format' | translate }}</label>
    <select
      id="datetime-format"
      name="datetime-format"
      class="form-control"
      aria-labelledby="datetime-format-label"
      [(ngModel)]="dateTimeFormatSelection"
      (ngModelChange)="onDateTimeFormatSelected()">
      @for (date of standardDatetimeFormats; track $index) {
        <option [value]="date">{{ date }}</option>
      }
    </select>
    <div class="help-block"></div>
    <p class="help-block">
      <a href="http://momentjs.com/docs/#/displaying/format/" target="_blank" rel="noopener">{{ 'configuration.date.format.help' | translate }}</a>
      . <span>{{ 'For example' | translate }}</span> {{ dateTimeFormatExample }}
    </p>

    <div class="form-actions">
      <button
        type="submit"
        class="btn btn-default button-submit"
        (click)="setSettingsDate()"
        [disabled]="responseStatus.state === 'loading'">
        {{ 'Submit' | translate }}
      </button>

      @if (responseStatus.state === 'loading') {
        <div class="loader inline"></div>
      } @else if (responseStatus.state) {
        <span [class]="responseStatus.state!">{{ responseStatus.msg! | translate }}</span>
      }
    </div>
  </div>
</form>
